.idea/
.gradle/
*.iml
*.log
target/
build/
classes/
buildSrc/.gradle/
buildSrc/build/
api-designer*
designer.sh
.classpath
.project
.settings/
nb-configuration.xml
nbactions.xml
buildSrc/.nb-gradle/private/
inactiveServiceVersionURL
mockserver.log
mockserver_request.logcreate-project.sh
build-number.txt
tutorial
